/* -----------------------------------------------------------------------------
 *                          ____        __  __
 *                         / __ )__  __/ /_/ /_____  ____  _____
 *                        / __  / / / / __/ __/ __ \/ __ \/ ___/
 *                       / /_/ / /_/ / /_/ /_/ /_/ / / / (__  )
 *                      /_____/\__,_/\__/\__/\____/_/ /_/____/
 *
 * ---------------------------------------------------------------------------*/
input[type='submit'],
button,
a.button {
    padding: .809em 1.618em;
    outline: none;
    border: none;
    border-radius: 1px;
    font-size: inherit;
    font-weight: inherit;
    font-family: $sans;
    background: $link-color;
    color: #fff;
    transition: all .3s ease;
    position: relative;
    &:hover, &:focus {
        background: darken( $link-color, 15% );
    }
    &:active {
        bottom: -1px;
    }
}
.log-btn{
  background-color: $green;
  height: 15px;
  width: auto;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
}
.cta-btn{
  padding: 15px 30px;
  background-color: $yellow;
  border-radius: 5px;
  font-size: 1em;
  font-family: $sans;
  font-weight: 500;
  box-shadow: 0px 0px 25px 5px rgba($black,0.3);
  @include breakpoint('md'){
    font-size: 1.5em;
  }
}
.call-btn{
    background-color: $yellow;
    right: 0;
    padding: 10px 30px;
    border-radius: 5px;
}
.act-btn{
  background-color: $yellow;
  padding: 10px 30px;
  height: auto;
  width: auto;
  display: inline-block;
  
  border-radius: 5px;
  @include breakpoint('md'){
    float: right;
  }
}
