#colophon {
    width: 100%;
    background: #242424;
    padding: 1.618em;
    color: #f0f0f0;
<<<<<<< HEAD
}
=======
}
ul#menu-social_menu{
  li{
    display: inline-block;
    font-size: 40px;
  }
}
#nav_menu-2{
  .widget-title{
    display: none;
  }
}
>>>>>>> 55a4cfbaa05dd3e246828f3c78e34e4f546e762c
